@mixin hs-colors-light {
  --hs-color-background: #ffffff;
  --hs-color-background-secondary: #e5e5e5;

  --hs-color-text-primary: #535353;
  --hs-color-text-secondary: #dadada;

  --hs-color-accent-primary: #685dc5;
}
